IO_LOC  "selector" 29;

IO_LOC  "led[6]" 55;
IO_PORT "led[6]" IO_TYPE=LVCMOS33;

IO_LOC  "in[3]" 83;
IO_PORT "in[3]" IO_TYPE=LVCMOS33;

IO_LOC  "in[2]" 84;
IO_PORT "in[2]" IO_TYPE=LVCMOS33;

IO_LOC  "in[1]" 85;
IO_PORT "in[1]" IO_TYPE=LVCMOS33;

IO_LOC  "in[0]" 86;
IO_PORT "in[0]" IO_TYPE=LVCMOS33;

IO_LOC  "dataRaw[0]" 51;
IO_PORT "dataRaw[0]" IO_TYPE=LVCMOS33;

IO_LOC  "dataRaw[1]" 42;
IO_PORT "dataRaw[1]" IO_TYPE=LVCMOS33;

IO_LOC  "dataRaw[2]" 41;
IO_PORT "dataRaw[2]" IO_TYPE=LVCMOS33;

IO_LOC  "dataRaw[3]" 35;
IO_PORT "dataRaw[3]" IO_TYPE=LVCMOS33;

IO_LOC  "dataRaw[4]" 40;
IO_PORT "dataRaw[4]" IO_TYPE=LVCMOS33;

IO_LOC  "dataRaw[5]" 34;
IO_PORT "dataRaw[5]" IO_TYPE=LVCMOS33;

IO_LOC  "dataRaw[6]" 33;
IO_PORT "dataRaw[6]" IO_TYPE=LVCMOS33;

IO_LOC  "led[0]" 10;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "led[1]" 11;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "led[2]" 13;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "led[3]" 14;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "led[4]" 15;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "led[5]" 16;
IO_PORT "led[5]" DRIVE=8 IO_TYPE=LVCMOS33;
